<header>
    <a href="/"><img src="/imagenes_front/cp-logo-dark.png"></a>
    <img src="/imagenes_front/BunnerCargaEquipos.jpg" class="logo">
    <a href="/listado">Ver todos los equipos</a>
</header>