<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head") %>
<body>
    <%- include("./parciales/header") %>
    <main>
        <h3>Registro creado con éxito</h3>
        <a href="/procesos/<%= equipo.busqueda_x_id %>"><button>Cargar Proceso</button></a>
    </main>
    <%- include("./parciales/footer") %>
</body>
</html>