<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head") %>
<body>
    <%- include("./parciales/header") %>
    <main>
        <div class="procesos_exitosos">
            <h1 class="titulo_exitoso">Equipo Editado con éxito</h1>
            <div class="botones_exitoso">
                <a href="/procesos/<%= equipo.busqueda_x_id %>" class="botones_general">Cargar nuevo proceso</a>
                <a href="/" class="botones_general">Volver a inicio</a>
            </div>
        </div>
    </main>
    <%- include("./parciales/footer") %>
</body>
</html>