<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head") %>
<body>
    <%- include("./parciales/header") %>
    <main>
        <h3>Equipo Editado con éxito</h3>
        <a href="/procesos"><button>Cargar proceso</button></a>
        <a href="/"><button>Volver a inicio</button></a>
    </main>
    <%- include("./parciales/footer") %>
</body>
</html>