<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head") %>
<body>
    <%- include("./parciales/header") %>
    <main>
        <div class="procesos_exitosos">
            <h1 class="titulo_exitoso">No existe el equipo en la base de datos</h1>
            <div class="botones_exitoso">
                <a href="/" class="botones_general">Volver</a>
            </div>
        </div>
    </main>
    <%- include("./parciales/footer") %>
</body>
</html>