<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head") %>
<body>
    <%- include("./parciales/header") %>
    <main>Proceso guardado</main>
    <a href="/procesos"><button>Cargar nuevo proceso</button></a>
    <a href="/"><button>Finalizar</button></a>
    <%- include("./parciales/footer") %>
</body>
</html>