<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head") %>
<body>
    <%- include("./parciales/header") %>
    <main>
        <a href="/editar/<%= equipo.busqueda_x_id %>">Ver detalle del equipo</a>
    </main>
    <%- include("./parciales/footer") %>
</body>
</html>