*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    position: fixed;
    background-color: orange;
    padding: 10px; 
}
.banner{
    width: 100vw;
}
.contenedor_superior{
    display:flex;
    justify-content: space-between;
}
.link_lista{
    margin-left: 40px;
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size: 20px;
    background-color: #2F8BE8;
    padding: 10px;
    border: solid 3px black;
}
.contenedor_busqueda{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 40px;
}
.contenedor_inputs{
    display: flex;
    justify-content: space-around;
}
label{
    display:block;
    text-align: center;
    font-weight:bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.contenedor_crear{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.input_crear{
    background-color: orange;
    border:none;
    width:300px;
    height: 40px;
    text-align: center;
}
.campos_formulario{
    margin-bottom: 28px;
}
.botones_formulario{
    display: flex;
    justify-content:space-around;
}
.titulo_formulario{
    text-align: center;
}

footer{
    background-color: orange;
}
.input_busqueda{
    background-color: orange;
    
    height: 35px;
    text-align: center;
}
.procesos_exitosos{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 5vw;
}
.titulo_exitoso{
    text-align: center;
    margin-bottom: 10%;
}
.botones_exitoso{
    display: flex;
    justify-content: space-around;
}
.botones_general{
    color:black;
    font-weight:bold;
    text-decoration: none;
    font-size: 20px;
    background-color:orange;
    padding: 10px;
    width: 30%;
    text-align: center;
}
.input_oculto{
    display: none;
}
.input_proceso{
    background-color: orange;
    border:none;
    width:350%;
    height: 40px;
    text-align: center;
}
.label_proceso{
    text-align: center;
}
.contenedor_detalle{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
.item_etapa{
    padding: 10px;
    margin: 10px;
    border:solid 2px black
}
.historial{
    display:flex;
    flex-direction: column;
    
}
.historial_1{
    display: flex;
    justify-content: space-around;
}
.historial_2{
    display: flex;
    justify-content: space-around;
}
.total_equipos{
    /*display: flex;*/
    flex-direction: column;
    border:dashed 2px red;
    background-color: aqua;
}
.equipo{
    /*display: flex;*/
    border: dashed 2px black;
}
.estado_etapa{
    border:solid 4px green;
}
/*.celda_fija{
    position: fixed;
}*/
tr{
    background-color: #CEE1F3;
    padding:1%;
    border: solid 2px black;
}
td{
    width: 2%;
    padding: 10px;
    border: solid 1px black;
}
th{
    border: solid 3px black;
}
table {
    border-collapse: collapse;
  }